.wrapper{
  display:flex;
  height:100%;
}
.onethirdcontainer{
  background-color: #232323;
  border:10px solid black;
  width:300px;
  height:fit-content;
  text-align: center;
  display:flex;
  flex-direction: column;
}
.title, .button{
  color:rgb(187, 187, 187);
  background-color: #000000;
  padding:20px 20px 40px 20px;
  margin-top:-2px;
  filter:drop-shadow(6px 6px 200px rgb(155, 155, 155));
  transition:0.5s ease
}
.button{
  margin-bottom:20px;
}
.image{
  border-radius:75%;
  margin:20px;
  border: 10px solid black;
  aspect-ratio: 1;
  transition: 0.5s ease;
  filter:drop-shadow(0px 0px 2px gray);
}
.image:hover, .title:hover, .button:hover{
  filter:drop-shadow(0px 0px 10px gray);
}
.title:hover, .button:hover{
  border-radius:25px;
  letter-spacing: 5px;
}
.statsdisplay{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:2px;
  transition:0.5s ease;
}
.statsdisplay:hover{
  background-color: #000000;
}
.icon{
  width:50%;
  filter:invert(70%);
}